body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    text-align: center;
}
  
  
.time-block{
    text-align: center;
    border-radius: 15px;
}
  
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}
  
  
.time-block {
    background-color: #ff6961;
    color: white;
}
  
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    height: 100px;
    width: 85px;
}

input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 960px;
    height: 100px;
}

#current-time {
    font-size: 20px;
}